{% extends 'base.html'%}

{% block content %}
<div class="container">
    <h2 class="article">News Articles</h2>
    <div class="row">
        
        {% for article in articles %}
        <div class="card">
            <img src="{{article.urlToImage}}">
            <div class="card-body">
                <h3 class="card-title">{{article.title}}</h3>
                <p>Published at {{article.publishedAt}}</p>
                <a href="{{article.url}}" class="btn btn-danger" target="_blank">Get the Full story</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}